name: Release
on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  release:
    permissions: write-all # TODO: make this as strict as possible
    runs-on: ubuntu-latest
    steps:
      #==[ Shared ]=============================================================

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run labeller
        id: labeller
        run: |
          git fetch --unshallow --tags
          GIT_DESCRIPTOR=$(git describe --tags --always --exclude latest --exclude unreleased)
          echo Detected descriptor: ${GIT_DESCRIPTOR}
          echo "VERSION=${GIT_DESCRIPTOR#v}" >> $GITHUB_OUTPUT

      - name: Install ctanify Perl dependencies
        uses: perl-actions/install-with-cpanm@stable
        with:
          install: |
            File::HomeDir
            File::Copy::Recursive

      - name: Setup TeX Live
        uses: paolobrasolin/setup-texlive-action@main
        with:
          cache-key: texlive-release
          packages-path: ${{ github.workspace }}/.github/texlive.packages
          profile-path: ${{ github.workspace }}/.github/texlive.profile

      - name: Build
        run: |
          make VERSION=${{ steps.labeller.outputs.version }} string-diagrams.tar.gz
          cp string-diagrams.tar.gz string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz

      #==[ Pre-release ]========================================================

      - if: startsWith(github.ref, 'refs/heads/')
        name: "GitHub: update pre-release"
        uses: docker://antonyurchenko/git-release:v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # RELEASE_NAME: "${{ steps.labeller.outputs.version }}"
          UNRELEASED: "update"
          UNRELEASED_TAG: unreleased
        with:
          args: |
            string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz

      #==[ Release ]============================================================

      # - if: ${{ startsWith(github.ref, 'refs/tags/') }}
      #   name: "GitHub: delete pre-release"
      #   uses: docker://antonyurchenko/git-release:v5
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     UNRELEASED: "delete"
      #     UNRELEASED_TAG: unreleased
      #   with:
      #     args: |
      #       string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz

      # - if: ${{ startsWith(github.ref, 'refs/tags/') }}
      #   name: "GitHub: release"
      #   uses: docker://antonyurchenko/git-release:v5
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     RELEASE_NAME: "${{ steps.labeller.outputs.version }}"
      #   with:
      #     args: |
      #       string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz

      # - if: ${{ startsWith(github.ref, 'refs/tags/') && steps.labeller.outputs.version == '1.0.0' }}
      #   name: "CTAN: submit first release"
      #   uses: paolobrasolin/ctan-submit-action@v1
      #   with:
      #     action: upload
      #     file_path: string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz
      #     fields: |
      #       update: "false"
      #       pkg: string-diagrams
      #       version: ${{ steps.labeller.outputs.version }}
      #       uploader: Paolo Brasolin
      #       email: paolo.brasolin@gmail.com
      #       author: Paolo Brasolin
      #       license: lppl1.3c
      #       ctanPath: /graphics/pgf/contrib/string-diagrams
      #       topic: diagram-maths
      #       home: https://paolobrasolin.github.io/string-diagrams/
      #       bugs: https://github.com/paolobrasolin/string-diagrams/issues
      #       repository: https://github.com/paolobrasolin/string-diagrams
      #       summary: >
      #         string-diagrams: Draw string diagrams with TikZ
      #       description: >
      #         string-diagrams is a TikZ library. Its aim is making string diagrams easy to design, parse and tweak.
      #       note: >
      #         Extra relevant topics are: diagram maths pgf-tikz graphics

      # - if: ${{ startsWith(github.ref, 'refs/tags/') && steps.labeller.outputs.version != '1.0.0' }}
      #   name: "CTAN: submit update"
      #   uses: paolobrasolin/ctan-submit-action@v1
      #   with:
      #     action: upload
      #     file_path: string-diagrams-${{ steps.labeller.outputs.version }}.tar.gz
      #     fields: |
      #       update: "true"
      #       pkg: string-diagrams
      #       version: ${{ steps.labeller.outputs.version }}
      #       uploader: Paolo Brasolin
      #       email: paolo.brasolin@gmail.com
